@mixin sevenColumn {
    display: grid;
    grid-gap: 20px 20px;
    grid-template-columns: repeat(7, 1fr)
}

.gameBoard {
  margin: 20px;
  display: grid;
  grid-gap: 20px 20px;
  grid-template-rows: 70px 70px 180px 180px 180px;
  grid-template-columns: 2fr 7fr 1fr;
  grid-template-areas:
    "players ranks         bonus"  
    "players maps          bonus"  
    "players cards         bonus"  
    "players actions       bonus"  
    "players activePlayer bonus";

  .players {
    grid-area: players;
  }

  .activePlayer {
    @include sevenColumn;
    grid-area: activePlayer;
  }

  .ranks {
    @include sevenColumn;
    grid-area: ranks;
  }

  .maps {
    @include sevenColumn;
    grid-area: maps;
  }

  .actions {
    @include sevenColumn;
    grid-area: actions;
  }

  .cards {
    @include sevenColumn;
    grid-area: cards;
  }

  .message {
    grid-area: message;
  }

}
